.ms-input {
    width: 100%;
    padding: 10px 14px;
    border-radius: var(--ms-radius-md);
    border: 1px solid var(--ms-border);
    font-family: var(--ms-font);
}

.ms-input:focus {
    outline: none;
    border-color: var(--ms-primary);
}